{% extends "layout.html" %}
{% block site %}
    <form action = "/main" method = "post">
        <div>
            {{user}}
            <br>
            <br>
            <button name = "logout" type = "submit">Log out </button>
        </div>
        <br>
        <div>
            <button name = "make" type = "submit">Make your own poll</button>
        </div>
        <br>
        <div>
            <button name = "search" type = "submit">Find polls</button>
        </div>
        <br>
    </form>
 
    {% with mes = get_flashed_messages() %}
        {% for message in mes %}
            <p>{{message}}</p>
        {%endfor%}
    {%endwith%}
    {% block maincontent %}{% endblock %}
    <form action = "/main" method = "post">
        <div>
            <br>
            <button name = "Return" type = "submit"> Return </button>
        </div>
    </form>
{% endblock %}
