{% extends "layout.html" %}
{% block site %}
<link href="static\styles.css" rel="stylesheet">
    <form action = "/main" method = "post">
        <div>
            <button name = "logout" type = "submit">Log out </button>
        </div>
        <div>
            <button name = "make" type = "submit">Make your own poll</button>
        </div>
        <div>
            <button name = "search" type = "submit">Find polls</button>
        </div>
    </form>
 
    {% with mes = get_flashed_messages() %}
        {% for message in mes %}
            <p>{{message}}</p>
        {%endfor%}
    {%endwith%}
    {% block maincontent %}{% endblock %}
    <form action = "/main" method = "post">
        <div>
            <button name = "Return" type = "submit"> Return </button>
        </div>
    </form>
{% endblock %}
