{% extends "layout.html" %}
{% block site %}
    
    <form action = "/main" method = "post">
        <div>
            <button name = "logout" type = "submit">Log out </button>
        </div>
        <div>
            <button name = "make" type = "submit">Make your own poll</button>
        </div>
        <div>
            <button name = "search" type = "submit">Find poll using ID </button>
        </div>
    </form>
 
    {% with mes = get_flashed_messages() %}
        {% for message in mes %}
            <p>{{message}}</p>
        {%endfor%}
    {%endwith%}
    {% block maincontent %}{% endblock %}
{% endblock %}