<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title> Polling site </title>
    </head>
    <body>
        {% block site %}{% endblock %}
    </body>
    <footer>
        <h3>
            Made with Flask <br>
            by personal code ldz916 <br>
            IB internal assessment May 2024
        </h3>
    </footer>
</html>