{% extends "layout.html" %}

{% block site %}
    {% with mes = get_flashed_messages() %}
        {% for message in mes %}
            <p>{{message}}</p>
        {%endfor%}
    {%endwith%}
 <form action = "/login" method = "post">
    <div>
        <input id= "username" type= "text" name = "username" placeholder="Username:">
    </div>
    <div>
        <input id= "password" type = "password" name = "password" placeholder = "password:">
    </div>
    <div>
        <button type = "submit"> Log in </button>
    </div>
</form>
{% endblock %}