{% extends "content.html" %}
{% block maincontent %}
<form>
    <div>
        <p>
            Poll name: <br>
        </p>
        <input id= "pollName" type= "text" name = "pollName" placeholder = "Poll name:">
    </div>
    <div>
        <p>
            Poll id (a unique code that could be used to directly search for your poll): <br>
        </p>
        <input id= "pollID" type= "text" name = "pollID" placeholder = "Poll ID:">
    </div>
    <div>
        <p>
            Poll description (please show what this poll is about):
        </p>
        <textarea id= "pollDesc" name = "pollDesc" placeholder="Description:" rows = 10 cols = 30>
        </textarea>
    </div>
    <button name = "create" type = "submit">Create poll</button>
</form>
{%endblock%}