{% extends "content.html" %}
{% block maincontent %}
<form action = "/main/polls" method = "post">
    <input id = "searchbar" name = "searchbar" type = "text" placeholder = "Search here...">
    <label for = "searchSort">Sorting option</label>
    <select name = "searchSort" id = "searchSort">
        <option value = "New"> Creation date (newest) </option>
        <option value = "Old"> Creation date (oldest) </option>
        <option value = "Popularity"> Most participant </option>
    </select>

    <input type = "checkbox" name = "status" value = "ongoing" id = "ongoing" checked>
    <label for = "ongoing"> Ongoing polls </label>
    <input type = "checkbox" name = "status" value = "ended" id = "ended" checked>
    <label for = "ended"> Ended polls </label>
    <button id = "searchPollName" name = "searchPollName" type = "submit">Search</button>
<br>
<br>
{% if toDisplay|length > 0 %}
{% for i in range(toDisplay|length) %}
{% if toDisplay[i][8] %}
<div id = "displaySearch{{i+1}}">
id: {{toDisplay[i][0]}}
Name: {{toDisplay[i][2]}}
Maker: {{toDisplay[i][1]}}
<br>
<h2>Question: {{toDisplay[i][4]}}</h2>
<input id = "visitPollId{{i+1}}" name = "visitPollId{{i+1}}" type = "text" value = "{{toDisplay[i][0]}}" hidden>
Status: 
{% if toDisplay[i][15] %}
ongoing
{% else %}
finished
{% endif %}
<button id = "visitPoll{{i+1}}" name = "visitPoll{{i+1}}" type = "submit">Visit Poll</button>
<br>
<br>
</div>
{% endif %}
{% endfor %}
<input id = "numofDisplay" name = "numofDisplay" type = "number" value = {{toDisplay|length}} hidden>
</form>
{% endif %}
{% endblock %}