{% extends "layout.html" %}

{% block site %}
    {% with mes = get_flashed_messages() %}
        {% for message in mes %}
            <p>{{message}}</p>
        {%endfor%}
    {%endwith%}
    <form action = "/register" method = "post">
        <div>
            <input id= "username" type= "text" name = "username" placeholder="Username: (max 20 characters)">
            <p>
                Username must follows these standards:
                  - No spaces
                  - Only letters and numbers
                  - At most 20 characters
                  - Must be unique 
            </p>
        </div>
        <div>
            <input id= "password" type = "password" name = "password" placeholder = "password:">
        </div>
        <div>
            <input id= "verify-password" type = "password" name = "verify-password" placeholder = "Confirm password:">
        </div>
        <p>
            Password must follow these standards:
            - Must include at least one capital letter
            - Must be at least 8 characters
            - Must include a symbol
        </p>
        <div>
            <input id= "email" type = "text" name = "email" placeholder = "email(optional): ">
        </div>
        <div>
        <button type = "submit"> Register </button>
        </div>
    </form>
{% endblock %}