{% extends "layout.html" %}

{% block site %}
    {% with mes = get_flashed_messages() %}
        {% for message in mes %}
            <p>{{message}}</p>
        {%endfor%}
    {%endwith%}
    <form action = "/register" method = "post">
        <div>
            <input id= "username" type= "text" name = "username" placeholder="Username:" class = "menuinput">
            <p>
                Username must follows these standards: <br>
                  - No spaces <br>
                  - Only letters and numbers <br>
                  - At most 20 characters <br>
                  - Must be unique <br>
            </p>
        </div>
        <div>
            <input id= "password" type = "password" name = "password" placeholder = "password:" class = "menuinput">
        </div>
        <div>
            <input id= "verify-password" type = "password" name = "verify-password" placeholder = "Confirm password:" class = "menuinput">
        </div>
        <p>
            Password must follow these standards: <br>
            - Must include at least one capital letter <br>
            - Must be at least 8 characters <br>
            - Must include a symbol <br>
        </p>
        <div>
            <input id= "email" type = "text" name = "email" placeholder = "email(optional): " class = "menuinput">
        </div>
        <div>
        <button type = "submit" class = "menubutton"> Register </button>
        </div>
    </form>
{% endblock %}