{% extends "content.html" %}
{% block maincontent %}
<form action="/main/searchpoll" method = "post">
    Search using poll ID:
    <input id = "searchPollId" name = "searchPollId" type = "text" placeholder = "Poll id:" value="">
    <button id = "pollIdButton" name = "pollIdButton" type = "submit">Search</button>
    <br>
    Search using poll name, question or description (public polls only):
    <input id = "searchPollName" name = "searchPollName" type = "text" placeholder = "Poll contents:" value = "">
    <button id = "pollNameButton" name = "pollNameButton" type = "submit">Search</button>
</form>
{%endblock%}